{% extends 'core/base.html' %}

{% block full_screan %}
    {% if user.is_authenticated %}
        <a href="{% url 'photo_album_create' %}" class="btn btn-default">Создать альбом</a>
        <br>
        <hr>
    {% endif %}

    {% for album in object_list %}
        <div>{{ album.name }}
            <a href="{% url 'photo_list' album.pk %}">
                <img class="img-thumbnail img-rounded"
                     height="100" width="100"
                     src="{{ album.image.url }}">
            </a>
        </div>
    {% endfor %}

    <span class="step-links">
        <div class="pagination">
            <ul class="pager">

                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
                    </li>
                {% endif %}

                <span class="current">
                    <li> Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</li>
                </span>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Следующая</a>.</li>
                {% endif %}
             </ul>
        </div>
    </span>

{% endblock %}
