<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'' }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}core/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block head %}{% endblock head %}

</head>
<body>

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">LOGO</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>Создание интерактивных карт</h1>
            <h2> Хочешь сделать свою первую карту?</h2>
            <a href="#" class="btn btn-info btn-block btn-lg">Тур по возможностяи!</a>
        </div>
        <div class="col-xs-6">
{#             <img class="img-responsive" src="http://placehold.it/600x300">#}
        </div>
    </div>
        <hr/>
    <div class="row">
        <div class="col-xs-3"><img class="img-responsive" src="{{ STATIC_URL }}core/images/karta_pinguins.jpg"></div>

    </div>
        <hr/>
    <div class="row text-center">
        <div class="col-xs-4 well">
            <h3>Графика</h3>
        </div>
        <div class="col-xs-4 well">
            <h3>Совместная игра</h3>
        </div>
        <div class="col-xs-4 well">
            <h3>Конкурсы</h3>
        </div>
    </div>

</div>

<footer style="background-color: #f5f5f5; min-height: 60px">
    <div class="container">
        copypasta &copy;
    </div>
</footer>


<script src="{{ STATIC_URL }}core/jquery-2.1.4.min.js"></script>
<script src="{{ STATIC_URL }}core/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>